<form class="flex gap-4 items-center w-full" autocomplete="off" (submit)="onSubmit()" [formGroup]="fg">
  <div class="grow flex border rounded">
    <mat-select class="w-36 sm:w-40 flex" formControlName="context">
      <mat-option value="name" selected>Name</mat-option>
      <mat-option value="order">Order</mat-option>
      <mat-option value="genus">Genus</mat-option>
      <mat-option value="family">Family</mat-option>
    </mat-select>
    
    <input matInput class="grow bg-transparent pl-4 ml-0 sm:ml-4" formControlName="value" name="searchValue" type="search"
      placeholder="Search fruits by {{ fg.value.context }}" />

    <button mat-icon-button matSuffix aria-label="Search" type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</form>