<div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-[30rem] lg:min-h-[75vh]">

  <div class="absolute top-0 w-full h-full bg-center bg-cover"
    style='background-image: url("/assets/images/pexels-jane-doan-1128678.jpg");'>

    <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>

  </div>

  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center flex flex-col items-center">

        <h1 class="text-white font-semibold text-4xl sm:text-5xl">
          Your wellness starts from here.
        </h1>

        <app-fruits-search class="block w-full text-white max-w-xl backdrop-blur-md" [formControl]="searchControl">
        </app-fruits-search>

        <div class="w-full mt-4 text-sm flex justify-between max-w-xl">

          <p class="text-gray-300">
            Found {{ fruits().length }} fruit{{ fruits().length ? 's' : '' }}.
          </p>

          <a routerLink="/fruits" class="text-white ml-4">
            Show all
          </a>

        </div>

      </div>
    </div>
  </div>

  <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-[70px]">

    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-gray-300 dark:text-gray-900 transition-colors fill-current" points="2560 0 2560 100 0 100">
      </polygon>
    </svg>
  </div>

</div>


<section class="pb-20 bg-gray-300 dark:bg-gray-900 -mt-24 transition-colors">
  <app-fruit-list class="relative mx-auto px-4 max-w-screen-lg" [fruits]="fruits()"></app-fruit-list>
</section>